.#{$prefix}-hero {
  max-width: 1500px;
  margin: auto;
  position: relative;

  img {
    max-width: 100%;
    height: auto;
  }

  .#{$prefix}-hero-text {
    position: absolute;
    color: #fff;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 36px;

      .hero-text-large {
        padding: 8px 16px;
        background-color: rgba($color: #000000, $alpha: 0.75);
      }

      .hero-text-small {
        display: none;
        font-weight: 300;

        @include breakpoints("sm") {
          display: inline-block;
        }
      }
    }
  }
}

.#{$prefix}-projects {
  .#{$prefix}-project {
    position: relative;
    padding: 0 8px;
    margin-bottom: 16px;

    .#{$prefix}-project-tag {
      position: absolute;
      padding: 8px 16px;
      background-color: #000;
      color: #fff;
    }

    img {
      width: 100%;
      height: 240px;
      object-fit: cover;
    }
  }
}

.#{$prefix}-about {
  .#{$prefix}-designer-card {
    padding: 0 8px;
    margin-bottom: 16px;

    img {
      width: 100%;
      max-width: 100%;
      filter: grayscale(80%);
    }

    img {
      padding-bottom: 10px;
    }

    h3 {
      padding-bottom: 15px;
    }

    span {
      opacity: 0.6;
      padding-bottom: 15px;
    }

    p {
      padding: 15px 0;
    }
  }
}

.#{$prefix}-contact {
  .#{$prefix}-section-header {
    padding-bottom: 0;
  }
}
