/* Hero Section */
.#{$prefix}-hero {
  .hero-img {
    height: 300px;

    @include breakpoints("sm") {
      height: calc(100vh - 80px);
    }
  }

  .#{$prefix}-hero-text {
    color: #fff;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));

    h1 {
      font-family: $base-typography;
      font-size: 36px;
      letter-spacing: 4px;

      .hero-text-large {
        padding: 8px 16px;
        background-color: rgba($color: #000, $alpha: 0.75);
      }

      .hero-text-small {
        display: none;
        font-weight: 300;

        @include breakpoints("sm") {
          display: inline-block;
        }
      }
    }
  }
}

/* Projects Section */
.#{$prefix}-projects {
  .#{$prefix}-projects-lists {
    .#{$prefix}-image-section {
      height: 240px;
    }
  }
}

/* About Section */
.#{$prefix}-about {
  background-color: #b0bec5;

  .#{$prefix}-designer-card {
    padding-left: 8px;
    padding-right: 8px;

    img {
      filter: grayscale(80%);
    }

    span {
      display: inline-block;
      opacity: 0.6;
    }
  }
}
