/* Hero Section */
.#{$prefix}-hero {
  .#{$prefix}-hero-image {
    overflow: hidden;
  }

  .hero-img {
    height: 300px;
    @include animation("arc-kenburns-top 5s ease-out infinite alternate both");

    @include breakpoints("sm") {
      height: calc(100vh - 80px);
      min-height: 600px;
    }
  }

  .#{$prefix}-hero-text {
    color: $color-white;
    z-index: 3;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));

    h1 {
      font-family: $base-typography;
      font-size: 36px;
      letter-spacing: 4px;

      .hero-text-large {
        padding: 8px 16px;
        background-color: rgba($color: $color-black, $alpha: 0.75);
      }

      .hero-text-small {
        display: none;
        font-weight: 300;

        @include breakpoints("sm") {
          display: inline-block;
        }
      }
    }
  }
}

/* Projects Section */
.#{$prefix}-projects {
  .#{$prefix}-projects-lists {
    .#{$prefix}-image-section {
      height: 240px;
    }
  }
}

/* About Section */
.#{$prefix}-about {
  background-color: #b0bec5;
}

.#{$prefix}-designer-card {
  padding: 15px 15px 30px;

  .#{$prefix}-image-section {
    height: 300px;
  }
  img {
    filter: grayscale(80%);
  }

  span {
    opacity: 0.6;
  }
}

/* Slider Section */
.#{$prefix}-slider {
  .splide {
    max-width: 100%;
  }
}

/* Contact Section */
.#{$prefix}-contact {
  .#{$prefix}-tool-tip {
    cursor: pointer;

    &:hover {
      span {
        display: block;
      }
    }
  }
}
