.#{$prefix}-header {
  background: #00000036;
  color: $color-white;
  padding: 8px 16px;
  letter-spacing: 4px;
  font-family: $base-typography;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  z-index: 5;

  a {
    color: inherit;
  }

  .#{$prefix}-branding {
    padding: 8px 0;

    @include breakpoints("md") {
      padding: 8px 16px;
    }

    a {
      padding: 8px 0;

      @include breakpoints("md") {
        padding: 8px 16px;
      }

      &:hover {
        background-color: $color-background;
      }
    }
  }

  .#{$prefix}-menu {
    display: none;

    & > ul > li > .#{$prefix}-sub-menu {
      display: none;
      top: 100%;
      left: 0;
    }

    li {
      position: relative;
      padding: 20px 16px;

      &:hover {
        background-color: $color-background;
        cursor: pointer;

        & > .#{$prefix}-sub-menu {
          display: block;
        }
      }
    }

    @include breakpoints("sm") {
      display: flex;
    }
  }

  .#{$prefix}-sub-menu {
    display: none;
    position: absolute;
    min-width: 160px;
    background: #3d72a4;
    z-index: 1;
    left: 100%;
    top: 0;

    .#{$prefix}-submenu {
      position: relative;
      padding: 20px 10px;
    }
  }
}
