.#{$prefix}-header {
  position: fixed;
  padding: 8px 16px;
  letter-spacing: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  z-index: 1;

  .#{$prefix}-row {
    justify-content: space-between;
    align-items: center;
  }

  .#{$prefix}-branding {
    padding: 8px 16px;

    &:hover {
      background-color: #ccc;
    }
  }

  .#{$prefix}-menu {
    display: none;

    li {
      padding: 8px 16px;

      &:hover {
        background-color: #ccc;
      }
    }

    @include breakpoints("sm") {
      display: flex;
    }
  }
}
