$screens: sm, md, lg;
$cols: 2, 3, 4, 6;

/* Container classes */
.#{$prefix}-container-fluid {
  width: 100%;
  max-width: 100%;
  padding: 0 20px;
  @include breakpoints("md") {
    padding: 0 30px;
  }
}

.#{$prefix}-container {
  width: 1560px;
  max-width: 100%;
  margin: auto;
  padding: 0 20px;
  @include breakpoints("md") {
    padding: 0 30px;
  }
}

.#{$prefix}-section-margin-top {
  margin-top: 60px;

  @include breakpoints("md") {
    margin-top: 100px;
  }
}

.#{$prefix}-row {
  @extend %flex;
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.#{$prefix}-col {
  @include flex-width(100%);
  padding-left: 7.5px;
  padding-right: 7.5px;
}

@each $col in $cols {
  .#{$prefix}-col-#{$col} {
    flex: 0 0 percentage($col/12);
    max-width: percentage($col/12);
  }
}

@each $screen in $screens {
  @each $col in $cols {
    .#{$prefix}-col-#{$screen}-#{$col} {
      @include breakpoints($screen) {
        flex: 0 0 percentage($col/12);
        max-width: percentage($col/12);
      }
    }
  }
}
