$base-typography: Poppins, sans-serif;
$secondary-typography: sans-serif;
$color-background: #ccc;
$color-white: #fff;
$color-black: #000;

// Typography sizes
$font-sizes: (
  "xs": 12px,
  "sm": 14px,
  "reg": 16px,
  "md": 18px,
  "lg": 20px,
  "xl": 24px,
  "xxl": 64px,
);

// Prefix
$prefix: arc;
