.arc-row {
  display: flex;
  flex-wrap: wrap; }

/* Container classes */
.arc-container-fluid {
  width: 100%;
  max-width: 100%; }

.arc-container {
  width: 1564px;
  max-width: 100%;
  margin: auto;
  padding: 8px 32px; }

.arc-section-margin-top {
  margin-top: 60px; }
  @media screen and (min-width: 768px) {
    .arc-section-margin-top {
      margin-top: 100px; } }

.arc-col {
  flex: 0 0 100%;
  max-width: 100%; }

.arc-col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%; }

.arc-col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.arc-col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%; }

.arc-col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

@media screen and (min-width: 576px) {
  .arc-col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; } }

@media screen and (min-width: 576px) {
  .arc-col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; } }

@media screen and (min-width: 576px) {
  .arc-col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; } }

@media screen and (min-width: 576px) {
  .arc-col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; } }

@media screen and (min-width: 768px) {
  .arc-col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; } }

@media screen and (min-width: 768px) {
  .arc-col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; } }

@media screen and (min-width: 768px) {
  .arc-col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; } }

@media screen and (min-width: 768px) {
  .arc-col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; } }

@media screen and (min-width: 992px) {
  .arc-col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; } }

@media screen and (min-width: 992px) {
  .arc-col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; } }

@media screen and (min-width: 992px) {
  .arc-col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; } }

@media screen and (min-width: 992px) {
  .arc-col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; } }

@-webkit-keyframes fade-text {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }
@-moz-keyframes fade-text {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }
@-ms-keyframes fade-text {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }
@keyframes fade-text {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }
@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); } }
@-moz-keyframes slide-down {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); } }
@-ms-keyframes slide-down {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); } }
@keyframes slide-down {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); } }
@-webkit-keyframes grow-shrink {
  0%,
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); } }
@-moz-keyframes grow-shrink {
  0%,
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); } }
@-ms-keyframes grow-shrink {
  0%,
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); } }
@keyframes grow-shrink {
  0%,
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); } }
:root {
  font-size: 16px;
  font-weight: 400;
  color: #000; }

body {
  font-family: sans-serif;
  font-size: 15px; }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

button {
  font-size: inherit;
  font-family: inherit; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

ol,
ul {
  list-style: none; }

a {
  color: #000;
  text-decoration: none; }

.arc-fs-xs {
  font-size: 12px; }

.arc-fs-sm {
  font-size: 14px; }

.arc-fs-reg {
  font-size: 16px; }

.arc-fs-md {
  font-size: 18px; }

.arc-fs-lg {
  font-size: 20px; }

.arc-fs-xl {
  font-size: 24px; }

.arc-fs-xxl {
  font-size: 64px; }

.arc-btn-primary {
  color: #121212;
  background-color: #f1f1f1;
  border: none;
  padding: 8px 12px;
  cursor: pointer; }
  .arc-btn-primary:hover {
    background-color: #ccc;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s; }
  .arc-btn-primary.arc-btn-fluid {
    width: 100%; }
  .arc-btn-primary.arc-btn-bg-black {
    background-color: #000;
    color: #fff; }
    .arc-btn-primary.arc-btn-bg-black:hover {
      color: #000;
      background-color: #ccc;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      transition: all 0.4s; }

.arc-contact-form {
  margin-bottom: 32px; }
  .arc-contact-form input,
  .arc-contact-form textarea {
    padding: 8px;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    margin: 16px 0; }
    .arc-contact-form input:first-child,
    .arc-contact-form textarea:first-child {
      margin: 0; }

.section-description {
  line-height: 1.5;
  padding: 15px 0; }

.arc-section-header {
  padding: 32px 0; }
  .arc-section-header .section-heading {
    padding: 16px 0;
    border-bottom: 1px solid #f1f1f1; }

.arc-header {
  position: fixed;
  padding: 8px 16px;
  letter-spacing: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  z-index: 1; }
  .arc-header .arc-row {
    justify-content: space-between;
    align-items: center; }
  .arc-header .arc-branding {
    padding: 8px 16px; }
    .arc-header .arc-branding:hover {
      background-color: #ccc; }
  .arc-header .arc-menu {
    display: none; }
    .arc-header .arc-menu li {
      padding: 8px 16px; }
      .arc-header .arc-menu li:hover {
        background-color: #ccc; }
    @media screen and (min-width: 576px) {
      .arc-header .arc-menu {
        display: flex; } }

.arc-footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 28px; }
  .arc-footer a {
    text-decoration: underline;
    color: #fff; }

/* Hero Section */
.arc-hero {
  position: relative; }
  .arc-hero img {
    max-width: 100%;
    height: auto; }
  .arc-hero .arc-hero-text {
    position: absolute;
    color: #fff;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .arc-hero .arc-hero-text h1 {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 36px; }
      .arc-hero .arc-hero-text h1 .hero-text-large {
        padding: 8px 16px;
        background-color: rgba(0, 0, 0, 0.75); }
      .arc-hero .arc-hero-text h1 .hero-text-small {
        display: none;
        font-weight: 300; }
        @media screen and (min-width: 576px) {
          .arc-hero .arc-hero-text h1 .hero-text-small {
            display: inline-block; } }

/* Projects Section */
.arc-projects .arc-project {
  position: relative;
  padding: 0 8px;
  margin-bottom: 16px; }
  .arc-projects .arc-project .arc-project-tag {
    position: absolute;
    padding: 8px 16px;
    background-color: #000;
    color: #fff; }
  .arc-projects .arc-project img {
    width: 100%;
    height: 240px;
    object-fit: cover; }

/* About Section */
.arc-about .arc-designer-card {
  padding: 0 8px;
  margin-bottom: 16px; }
  .arc-about .arc-designer-card img {
    width: 100%;
    max-width: 100%;
    filter: grayscale(80%); }
  .arc-about .arc-designer-card span {
    display: inline-block;
    opacity: 0.6; }

/* Margin Classes */
.arc-m-auto {
  margin: auto; }

.arc-mt-1 {
  margin-top: 5px; }

.arc-mt-2 {
  margin-top: 10px; }

.arc-mt-3 {
  margin-top: 15px; }

.arc-mt-4 {
  margin-top: 20px; }

.arc-mt-5 {
  margin-top: 25px; }

.arc-mt-6 {
  margin-top: 30px; }

.arc-mt-7 {
  margin-top: 35px; }

.arc-mt-8 {
  margin-top: 40px; }

.arc-mt-9 {
  margin-top: 45px; }

.arc-mt-10 {
  margin-top: 50px; }

.arc-mt-11 {
  margin-top: 55px; }

.arc-mt-12 {
  margin-top: 60px; }

.arc-mt-13 {
  margin-top: 65px; }

.arc-mt-14 {
  margin-top: 70px; }

.arc-mt-15 {
  margin-top: 75px; }

.arc-mt-16 {
  margin-top: 80px; }

.arc-mt-17 {
  margin-top: 85px; }

.arc-mb-1 {
  margin-bottom: 5px; }

.arc-mb-2 {
  margin-bottom: 10px; }

.arc-mb-3 {
  margin-bottom: 15px; }

.arc-mb-4 {
  margin-bottom: 20px; }

.arc-mb-5 {
  margin-bottom: 25px; }

.arc-mb-6 {
  margin-bottom: 30px; }

.arc-mb-7 {
  margin-bottom: 35px; }

.arc-mb-8 {
  margin-bottom: 40px; }

.arc-mb-9 {
  margin-bottom: 45px; }

.arc-mb-10 {
  margin-bottom: 50px; }

.arc-mb-11 {
  margin-bottom: 55px; }

.arc-mb-12 {
  margin-bottom: 60px; }

.arc-mb-13 {
  margin-bottom: 65px; }

.arc-mb-14 {
  margin-bottom: 70px; }

.arc-mb-15 {
  margin-bottom: 75px; }

.arc-mb-16 {
  margin-bottom: 80px; }

.arc-mb-17 {
  margin-bottom: 85px; }

.arc-mr-1 {
  margin-right: 5px; }

.arc-mr-2 {
  margin-right: 10px; }

.arc-mr-3 {
  margin-right: 15px; }

.arc-mr-4 {
  margin-right: 20px; }

.arc-mr-5 {
  margin-right: 25px; }

.arc-mr-6 {
  margin-right: 30px; }

.arc-mr-7 {
  margin-right: 35px; }

.arc-mr-8 {
  margin-right: 40px; }

.arc-mr-9 {
  margin-right: 45px; }

.arc-mr-10 {
  margin-right: 50px; }

.arc-mr-11 {
  margin-right: 55px; }

.arc-mr-12 {
  margin-right: 60px; }

.arc-mr-13 {
  margin-right: 65px; }

.arc-mr-14 {
  margin-right: 70px; }

.arc-mr-15 {
  margin-right: 75px; }

.arc-mr-16 {
  margin-right: 80px; }

.arc-mr-17 {
  margin-right: 85px; }

.arc-ml-1 {
  margin-left: 5px; }

.arc-ml-2 {
  margin-left: 10px; }

.arc-ml-3 {
  margin-left: 15px; }

.arc-ml-4 {
  margin-left: 20px; }

.arc-ml-5 {
  margin-left: 25px; }

.arc-ml-6 {
  margin-left: 30px; }

.arc-ml-7 {
  margin-left: 35px; }

.arc-ml-8 {
  margin-left: 40px; }

.arc-ml-9 {
  margin-left: 45px; }

.arc-ml-10 {
  margin-left: 50px; }

.arc-ml-11 {
  margin-left: 55px; }

.arc-ml-12 {
  margin-left: 60px; }

.arc-ml-13 {
  margin-left: 65px; }

.arc-ml-14 {
  margin-left: 70px; }

.arc-ml-15 {
  margin-left: 75px; }

.arc-ml-16 {
  margin-left: 80px; }

.arc-ml-17 {
  margin-left: 85px; }

.arc-mt-sm-1 {
  margin-top: 5px; }

.arc-mt-md-1 {
  margin-top: 5px; }

.arc-mt-lg-1 {
  margin-top: 5px; }

.arc-mt-sm-2 {
  margin-top: 10px; }

.arc-mt-md-2 {
  margin-top: 10px; }

.arc-mt-lg-2 {
  margin-top: 10px; }

.arc-mt-sm-3 {
  margin-top: 15px; }

.arc-mt-md-3 {
  margin-top: 15px; }

.arc-mt-lg-3 {
  margin-top: 15px; }

.arc-mt-sm-4 {
  margin-top: 20px; }

.arc-mt-md-4 {
  margin-top: 20px; }

.arc-mt-lg-4 {
  margin-top: 20px; }

.arc-mt-sm-5 {
  margin-top: 25px; }

.arc-mt-md-5 {
  margin-top: 25px; }

.arc-mt-lg-5 {
  margin-top: 25px; }

.arc-mt-sm-6 {
  margin-top: 30px; }

.arc-mt-md-6 {
  margin-top: 30px; }

.arc-mt-lg-6 {
  margin-top: 30px; }

.arc-mt-sm-7 {
  margin-top: 35px; }

.arc-mt-md-7 {
  margin-top: 35px; }

.arc-mt-lg-7 {
  margin-top: 35px; }

.arc-mt-sm-8 {
  margin-top: 40px; }

.arc-mt-md-8 {
  margin-top: 40px; }

.arc-mt-lg-8 {
  margin-top: 40px; }

.arc-mt-sm-9 {
  margin-top: 45px; }

.arc-mt-md-9 {
  margin-top: 45px; }

.arc-mt-lg-9 {
  margin-top: 45px; }

.arc-mt-sm-10 {
  margin-top: 50px; }

.arc-mt-md-10 {
  margin-top: 50px; }

.arc-mt-lg-10 {
  margin-top: 50px; }

.arc-mt-sm-11 {
  margin-top: 55px; }

.arc-mt-md-11 {
  margin-top: 55px; }

.arc-mt-lg-11 {
  margin-top: 55px; }

.arc-mt-sm-12 {
  margin-top: 60px; }

.arc-mt-md-12 {
  margin-top: 60px; }

.arc-mt-lg-12 {
  margin-top: 60px; }

.arc-mt-sm-13 {
  margin-top: 65px; }

.arc-mt-md-13 {
  margin-top: 65px; }

.arc-mt-lg-13 {
  margin-top: 65px; }

.arc-mt-sm-14 {
  margin-top: 70px; }

.arc-mt-md-14 {
  margin-top: 70px; }

.arc-mt-lg-14 {
  margin-top: 70px; }

.arc-mt-sm-15 {
  margin-top: 75px; }

.arc-mt-md-15 {
  margin-top: 75px; }

.arc-mt-lg-15 {
  margin-top: 75px; }

.arc-mt-sm-16 {
  margin-top: 80px; }

.arc-mt-md-16 {
  margin-top: 80px; }

.arc-mt-lg-16 {
  margin-top: 80px; }

.arc-mt-sm-17 {
  margin-top: 85px; }

.arc-mt-md-17 {
  margin-top: 85px; }

.arc-mt-lg-17 {
  margin-top: 85px; }

.arc-mt-sm-18 {
  margin-top: 90px; }

.arc-mt-md-18 {
  margin-top: 90px; }

.arc-mt-lg-18 {
  margin-top: 90px; }

.arc-mb-sm-1 {
  margin-bottom: 5px; }

.arc-mb-md-1 {
  margin-bottom: 5px; }

.arc-mb-lg-1 {
  margin-bottom: 5px; }

.arc-mb-sm-2 {
  margin-bottom: 10px; }

.arc-mb-md-2 {
  margin-bottom: 10px; }

.arc-mb-lg-2 {
  margin-bottom: 10px; }

.arc-mb-sm-3 {
  margin-bottom: 15px; }

.arc-mb-md-3 {
  margin-bottom: 15px; }

.arc-mb-lg-3 {
  margin-bottom: 15px; }

.arc-mb-sm-4 {
  margin-bottom: 20px; }

.arc-mb-md-4 {
  margin-bottom: 20px; }

.arc-mb-lg-4 {
  margin-bottom: 20px; }

.arc-mb-sm-5 {
  margin-bottom: 25px; }

.arc-mb-md-5 {
  margin-bottom: 25px; }

.arc-mb-lg-5 {
  margin-bottom: 25px; }

.arc-mb-sm-6 {
  margin-bottom: 30px; }

.arc-mb-md-6 {
  margin-bottom: 30px; }

.arc-mb-lg-6 {
  margin-bottom: 30px; }

.arc-mb-sm-7 {
  margin-bottom: 35px; }

.arc-mb-md-7 {
  margin-bottom: 35px; }

.arc-mb-lg-7 {
  margin-bottom: 35px; }

.arc-mb-sm-8 {
  margin-bottom: 40px; }

.arc-mb-md-8 {
  margin-bottom: 40px; }

.arc-mb-lg-8 {
  margin-bottom: 40px; }

.arc-mb-sm-9 {
  margin-bottom: 45px; }

.arc-mb-md-9 {
  margin-bottom: 45px; }

.arc-mb-lg-9 {
  margin-bottom: 45px; }

.arc-mb-sm-10 {
  margin-bottom: 50px; }

.arc-mb-md-10 {
  margin-bottom: 50px; }

.arc-mb-lg-10 {
  margin-bottom: 50px; }

.arc-mb-sm-11 {
  margin-bottom: 55px; }

.arc-mb-md-11 {
  margin-bottom: 55px; }

.arc-mb-lg-11 {
  margin-bottom: 55px; }

.arc-mb-sm-12 {
  margin-bottom: 60px; }

.arc-mb-md-12 {
  margin-bottom: 60px; }

.arc-mb-lg-12 {
  margin-bottom: 60px; }

.arc-mb-sm-13 {
  margin-bottom: 65px; }

.arc-mb-md-13 {
  margin-bottom: 65px; }

.arc-mb-lg-13 {
  margin-bottom: 65px; }

.arc-mb-sm-14 {
  margin-bottom: 70px; }

.arc-mb-md-14 {
  margin-bottom: 70px; }

.arc-mb-lg-14 {
  margin-bottom: 70px; }

.arc-mb-sm-15 {
  margin-bottom: 75px; }

.arc-mb-md-15 {
  margin-bottom: 75px; }

.arc-mb-lg-15 {
  margin-bottom: 75px; }

.arc-mb-sm-16 {
  margin-bottom: 80px; }

.arc-mb-md-16 {
  margin-bottom: 80px; }

.arc-mb-lg-16 {
  margin-bottom: 80px; }

.arc-mb-sm-17 {
  margin-bottom: 85px; }

.arc-mb-md-17 {
  margin-bottom: 85px; }

.arc-mb-lg-17 {
  margin-bottom: 85px; }

.arc-mb-sm-18 {
  margin-bottom: 90px; }

.arc-mb-md-18 {
  margin-bottom: 90px; }

.arc-mb-lg-18 {
  margin-bottom: 90px; }

.arc-mr-sm-1 {
  margin-right: 5px; }

.arc-mr-md-1 {
  margin-right: 5px; }

.arc-mr-lg-1 {
  margin-right: 5px; }

.arc-mr-sm-2 {
  margin-right: 10px; }

.arc-mr-md-2 {
  margin-right: 10px; }

.arc-mr-lg-2 {
  margin-right: 10px; }

.arc-mr-sm-3 {
  margin-right: 15px; }

.arc-mr-md-3 {
  margin-right: 15px; }

.arc-mr-lg-3 {
  margin-right: 15px; }

.arc-mr-sm-4 {
  margin-right: 20px; }

.arc-mr-md-4 {
  margin-right: 20px; }

.arc-mr-lg-4 {
  margin-right: 20px; }

.arc-mr-sm-5 {
  margin-right: 25px; }

.arc-mr-md-5 {
  margin-right: 25px; }

.arc-mr-lg-5 {
  margin-right: 25px; }

.arc-mr-sm-6 {
  margin-right: 30px; }

.arc-mr-md-6 {
  margin-right: 30px; }

.arc-mr-lg-6 {
  margin-right: 30px; }

.arc-mr-sm-7 {
  margin-right: 35px; }

.arc-mr-md-7 {
  margin-right: 35px; }

.arc-mr-lg-7 {
  margin-right: 35px; }

.arc-mr-sm-8 {
  margin-right: 40px; }

.arc-mr-md-8 {
  margin-right: 40px; }

.arc-mr-lg-8 {
  margin-right: 40px; }

.arc-mr-sm-9 {
  margin-right: 45px; }

.arc-mr-md-9 {
  margin-right: 45px; }

.arc-mr-lg-9 {
  margin-right: 45px; }

.arc-mr-sm-10 {
  margin-right: 50px; }

.arc-mr-md-10 {
  margin-right: 50px; }

.arc-mr-lg-10 {
  margin-right: 50px; }

.arc-mr-sm-11 {
  margin-right: 55px; }

.arc-mr-md-11 {
  margin-right: 55px; }

.arc-mr-lg-11 {
  margin-right: 55px; }

.arc-mr-sm-12 {
  margin-right: 60px; }

.arc-mr-md-12 {
  margin-right: 60px; }

.arc-mr-lg-12 {
  margin-right: 60px; }

.arc-mr-sm-13 {
  margin-right: 65px; }

.arc-mr-md-13 {
  margin-right: 65px; }

.arc-mr-lg-13 {
  margin-right: 65px; }

.arc-mr-sm-14 {
  margin-right: 70px; }

.arc-mr-md-14 {
  margin-right: 70px; }

.arc-mr-lg-14 {
  margin-right: 70px; }

.arc-mr-sm-15 {
  margin-right: 75px; }

.arc-mr-md-15 {
  margin-right: 75px; }

.arc-mr-lg-15 {
  margin-right: 75px; }

.arc-mr-sm-16 {
  margin-right: 80px; }

.arc-mr-md-16 {
  margin-right: 80px; }

.arc-mr-lg-16 {
  margin-right: 80px; }

.arc-mr-sm-17 {
  margin-right: 85px; }

.arc-mr-md-17 {
  margin-right: 85px; }

.arc-mr-lg-17 {
  margin-right: 85px; }

.arc-mr-sm-18 {
  margin-right: 90px; }

.arc-mr-md-18 {
  margin-right: 90px; }

.arc-mr-lg-18 {
  margin-right: 90px; }

.arc-ml-sm-1 {
  margin-left: 5px; }

.arc-ml-md-1 {
  margin-left: 5px; }

.arc-ml-lg-1 {
  margin-left: 5px; }

.arc-ml-sm-2 {
  margin-left: 10px; }

.arc-ml-md-2 {
  margin-left: 10px; }

.arc-ml-lg-2 {
  margin-left: 10px; }

.arc-ml-sm-3 {
  margin-left: 15px; }

.arc-ml-md-3 {
  margin-left: 15px; }

.arc-ml-lg-3 {
  margin-left: 15px; }

.arc-ml-sm-4 {
  margin-left: 20px; }

.arc-ml-md-4 {
  margin-left: 20px; }

.arc-ml-lg-4 {
  margin-left: 20px; }

.arc-ml-sm-5 {
  margin-left: 25px; }

.arc-ml-md-5 {
  margin-left: 25px; }

.arc-ml-lg-5 {
  margin-left: 25px; }

.arc-ml-sm-6 {
  margin-left: 30px; }

.arc-ml-md-6 {
  margin-left: 30px; }

.arc-ml-lg-6 {
  margin-left: 30px; }

.arc-ml-sm-7 {
  margin-left: 35px; }

.arc-ml-md-7 {
  margin-left: 35px; }

.arc-ml-lg-7 {
  margin-left: 35px; }

.arc-ml-sm-8 {
  margin-left: 40px; }

.arc-ml-md-8 {
  margin-left: 40px; }

.arc-ml-lg-8 {
  margin-left: 40px; }

.arc-ml-sm-9 {
  margin-left: 45px; }

.arc-ml-md-9 {
  margin-left: 45px; }

.arc-ml-lg-9 {
  margin-left: 45px; }

.arc-ml-sm-10 {
  margin-left: 50px; }

.arc-ml-md-10 {
  margin-left: 50px; }

.arc-ml-lg-10 {
  margin-left: 50px; }

.arc-ml-sm-11 {
  margin-left: 55px; }

.arc-ml-md-11 {
  margin-left: 55px; }

.arc-ml-lg-11 {
  margin-left: 55px; }

.arc-ml-sm-12 {
  margin-left: 60px; }

.arc-ml-md-12 {
  margin-left: 60px; }

.arc-ml-lg-12 {
  margin-left: 60px; }

.arc-ml-sm-13 {
  margin-left: 65px; }

.arc-ml-md-13 {
  margin-left: 65px; }

.arc-ml-lg-13 {
  margin-left: 65px; }

.arc-ml-sm-14 {
  margin-left: 70px; }

.arc-ml-md-14 {
  margin-left: 70px; }

.arc-ml-lg-14 {
  margin-left: 70px; }

.arc-ml-sm-15 {
  margin-left: 75px; }

.arc-ml-md-15 {
  margin-left: 75px; }

.arc-ml-lg-15 {
  margin-left: 75px; }

.arc-ml-sm-16 {
  margin-left: 80px; }

.arc-ml-md-16 {
  margin-left: 80px; }

.arc-ml-lg-16 {
  margin-left: 80px; }

.arc-ml-sm-17 {
  margin-left: 85px; }

.arc-ml-md-17 {
  margin-left: 85px; }

.arc-ml-lg-17 {
  margin-left: 85px; }

.arc-ml-sm-18 {
  margin-left: 90px; }

.arc-ml-md-18 {
  margin-left: 90px; }

.arc-ml-lg-18 {
  margin-left: 90px; }

/* Padding Classes */
.arc-p-auto {
  padding: auto; }

.arc-pt-0 {
  padding-top: 0px; }

.arc-pt-1 {
  padding-top: 5px; }

.arc-pt-2 {
  padding-top: 10px; }

.arc-pt-3 {
  padding-top: 15px; }

.arc-pt-4 {
  padding-top: 20px; }

.arc-pt-5 {
  padding-top: 25px; }

.arc-pt-6 {
  padding-top: 30px; }

.arc-pt-7 {
  padding-top: 35px; }

.arc-pt-8 {
  padding-top: 40px; }

.arc-pt-9 {
  padding-top: 45px; }

.arc-pt-10 {
  padding-top: 50px; }

.arc-pt-11 {
  padding-top: 55px; }

.arc-pt-12 {
  padding-top: 60px; }

.arc-pt-13 {
  padding-top: 65px; }

.arc-pt-14 {
  padding-top: 70px; }

.arc-pt-15 {
  padding-top: 75px; }

.arc-pt-16 {
  padding-top: 80px; }

.arc-pt-17 {
  padding-top: 85px; }

.arc-pb-0 {
  padding-bottom: 0px; }

.arc-pb-1 {
  padding-bottom: 5px; }

.arc-pb-2 {
  padding-bottom: 10px; }

.arc-pb-3 {
  padding-bottom: 15px; }

.arc-pb-4 {
  padding-bottom: 20px; }

.arc-pb-5 {
  padding-bottom: 25px; }

.arc-pb-6 {
  padding-bottom: 30px; }

.arc-pb-7 {
  padding-bottom: 35px; }

.arc-pb-8 {
  padding-bottom: 40px; }

.arc-pb-9 {
  padding-bottom: 45px; }

.arc-pb-10 {
  padding-bottom: 50px; }

.arc-pb-11 {
  padding-bottom: 55px; }

.arc-pb-12 {
  padding-bottom: 60px; }

.arc-pb-13 {
  padding-bottom: 65px; }

.arc-pb-14 {
  padding-bottom: 70px; }

.arc-pb-15 {
  padding-bottom: 75px; }

.arc-pb-16 {
  padding-bottom: 80px; }

.arc-pb-17 {
  padding-bottom: 85px; }

.arc-pr-0 {
  padding-right: 0px; }

.arc-pr-1 {
  padding-right: 5px; }

.arc-pr-2 {
  padding-right: 10px; }

.arc-pr-3 {
  padding-right: 15px; }

.arc-pr-4 {
  padding-right: 20px; }

.arc-pr-5 {
  padding-right: 25px; }

.arc-pr-6 {
  padding-right: 30px; }

.arc-pr-7 {
  padding-right: 35px; }

.arc-pr-8 {
  padding-right: 40px; }

.arc-pr-9 {
  padding-right: 45px; }

.arc-pr-10 {
  padding-right: 50px; }

.arc-pr-11 {
  padding-right: 55px; }

.arc-pr-12 {
  padding-right: 60px; }

.arc-pr-13 {
  padding-right: 65px; }

.arc-pr-14 {
  padding-right: 70px; }

.arc-pr-15 {
  padding-right: 75px; }

.arc-pr-16 {
  padding-right: 80px; }

.arc-pr-17 {
  padding-right: 85px; }

.arc-pl-0 {
  padding-left: 0px; }

.arc-pl-1 {
  padding-left: 5px; }

.arc-pl-2 {
  padding-left: 10px; }

.arc-pl-3 {
  padding-left: 15px; }

.arc-pl-4 {
  padding-left: 20px; }

.arc-pl-5 {
  padding-left: 25px; }

.arc-pl-6 {
  padding-left: 30px; }

.arc-pl-7 {
  padding-left: 35px; }

.arc-pl-8 {
  padding-left: 40px; }

.arc-pl-9 {
  padding-left: 45px; }

.arc-pl-10 {
  padding-left: 50px; }

.arc-pl-11 {
  padding-left: 55px; }

.arc-pl-12 {
  padding-left: 60px; }

.arc-pl-13 {
  padding-left: 65px; }

.arc-pl-14 {
  padding-left: 70px; }

.arc-pl-15 {
  padding-left: 75px; }

.arc-pl-16 {
  padding-left: 80px; }

.arc-pl-17 {
  padding-left: 85px; }

.arc-pt-sm-0 {
  padding-top: 0px; }

.arc-pt-md-0 {
  padding-top: 0px; }

.arc-pt-lg-0 {
  padding-top: 0px; }

.arc-pt-sm-1 {
  padding-top: 5px; }

.arc-pt-md-1 {
  padding-top: 5px; }

.arc-pt-lg-1 {
  padding-top: 5px; }

.arc-pt-sm-2 {
  padding-top: 10px; }

.arc-pt-md-2 {
  padding-top: 10px; }

.arc-pt-lg-2 {
  padding-top: 10px; }

.arc-pt-sm-3 {
  padding-top: 15px; }

.arc-pt-md-3 {
  padding-top: 15px; }

.arc-pt-lg-3 {
  padding-top: 15px; }

.arc-pt-sm-4 {
  padding-top: 20px; }

.arc-pt-md-4 {
  padding-top: 20px; }

.arc-pt-lg-4 {
  padding-top: 20px; }

.arc-pt-sm-5 {
  padding-top: 25px; }

.arc-pt-md-5 {
  padding-top: 25px; }

.arc-pt-lg-5 {
  padding-top: 25px; }

.arc-pt-sm-6 {
  padding-top: 30px; }

.arc-pt-md-6 {
  padding-top: 30px; }

.arc-pt-lg-6 {
  padding-top: 30px; }

.arc-pt-sm-7 {
  padding-top: 35px; }

.arc-pt-md-7 {
  padding-top: 35px; }

.arc-pt-lg-7 {
  padding-top: 35px; }

.arc-pt-sm-8 {
  padding-top: 40px; }

.arc-pt-md-8 {
  padding-top: 40px; }

.arc-pt-lg-8 {
  padding-top: 40px; }

.arc-pt-sm-9 {
  padding-top: 45px; }

.arc-pt-md-9 {
  padding-top: 45px; }

.arc-pt-lg-9 {
  padding-top: 45px; }

.arc-pt-sm-10 {
  padding-top: 50px; }

.arc-pt-md-10 {
  padding-top: 50px; }

.arc-pt-lg-10 {
  padding-top: 50px; }

.arc-pt-sm-11 {
  padding-top: 55px; }

.arc-pt-md-11 {
  padding-top: 55px; }

.arc-pt-lg-11 {
  padding-top: 55px; }

.arc-pt-sm-12 {
  padding-top: 60px; }

.arc-pt-md-12 {
  padding-top: 60px; }

.arc-pt-lg-12 {
  padding-top: 60px; }

.arc-pt-sm-13 {
  padding-top: 65px; }

.arc-pt-md-13 {
  padding-top: 65px; }

.arc-pt-lg-13 {
  padding-top: 65px; }

.arc-pt-sm-14 {
  padding-top: 70px; }

.arc-pt-md-14 {
  padding-top: 70px; }

.arc-pt-lg-14 {
  padding-top: 70px; }

.arc-pt-sm-15 {
  padding-top: 75px; }

.arc-pt-md-15 {
  padding-top: 75px; }

.arc-pt-lg-15 {
  padding-top: 75px; }

.arc-pt-sm-16 {
  padding-top: 80px; }

.arc-pt-md-16 {
  padding-top: 80px; }

.arc-pt-lg-16 {
  padding-top: 80px; }

.arc-pt-sm-17 {
  padding-top: 85px; }

.arc-pt-md-17 {
  padding-top: 85px; }

.arc-pt-lg-17 {
  padding-top: 85px; }

.arc-pb-sm-0 {
  padding-bottom: 0px; }

.arc-pb-md-0 {
  padding-bottom: 0px; }

.arc-pb-lg-0 {
  padding-bottom: 0px; }

.arc-pb-sm-1 {
  padding-bottom: 5px; }

.arc-pb-md-1 {
  padding-bottom: 5px; }

.arc-pb-lg-1 {
  padding-bottom: 5px; }

.arc-pb-sm-2 {
  padding-bottom: 10px; }

.arc-pb-md-2 {
  padding-bottom: 10px; }

.arc-pb-lg-2 {
  padding-bottom: 10px; }

.arc-pb-sm-3 {
  padding-bottom: 15px; }

.arc-pb-md-3 {
  padding-bottom: 15px; }

.arc-pb-lg-3 {
  padding-bottom: 15px; }

.arc-pb-sm-4 {
  padding-bottom: 20px; }

.arc-pb-md-4 {
  padding-bottom: 20px; }

.arc-pb-lg-4 {
  padding-bottom: 20px; }

.arc-pb-sm-5 {
  padding-bottom: 25px; }

.arc-pb-md-5 {
  padding-bottom: 25px; }

.arc-pb-lg-5 {
  padding-bottom: 25px; }

.arc-pb-sm-6 {
  padding-bottom: 30px; }

.arc-pb-md-6 {
  padding-bottom: 30px; }

.arc-pb-lg-6 {
  padding-bottom: 30px; }

.arc-pb-sm-7 {
  padding-bottom: 35px; }

.arc-pb-md-7 {
  padding-bottom: 35px; }

.arc-pb-lg-7 {
  padding-bottom: 35px; }

.arc-pb-sm-8 {
  padding-bottom: 40px; }

.arc-pb-md-8 {
  padding-bottom: 40px; }

.arc-pb-lg-8 {
  padding-bottom: 40px; }

.arc-pb-sm-9 {
  padding-bottom: 45px; }

.arc-pb-md-9 {
  padding-bottom: 45px; }

.arc-pb-lg-9 {
  padding-bottom: 45px; }

.arc-pb-sm-10 {
  padding-bottom: 50px; }

.arc-pb-md-10 {
  padding-bottom: 50px; }

.arc-pb-lg-10 {
  padding-bottom: 50px; }

.arc-pb-sm-11 {
  padding-bottom: 55px; }

.arc-pb-md-11 {
  padding-bottom: 55px; }

.arc-pb-lg-11 {
  padding-bottom: 55px; }

.arc-pb-sm-12 {
  padding-bottom: 60px; }

.arc-pb-md-12 {
  padding-bottom: 60px; }

.arc-pb-lg-12 {
  padding-bottom: 60px; }

.arc-pb-sm-13 {
  padding-bottom: 65px; }

.arc-pb-md-13 {
  padding-bottom: 65px; }

.arc-pb-lg-13 {
  padding-bottom: 65px; }

.arc-pb-sm-14 {
  padding-bottom: 70px; }

.arc-pb-md-14 {
  padding-bottom: 70px; }

.arc-pb-lg-14 {
  padding-bottom: 70px; }

.arc-pb-sm-15 {
  padding-bottom: 75px; }

.arc-pb-md-15 {
  padding-bottom: 75px; }

.arc-pb-lg-15 {
  padding-bottom: 75px; }

.arc-pb-sm-16 {
  padding-bottom: 80px; }

.arc-pb-md-16 {
  padding-bottom: 80px; }

.arc-pb-lg-16 {
  padding-bottom: 80px; }

.arc-pb-sm-17 {
  padding-bottom: 85px; }

.arc-pb-md-17 {
  padding-bottom: 85px; }

.arc-pb-lg-17 {
  padding-bottom: 85px; }

.arc-pr-sm-0 {
  padding-right: 0px; }

.arc-pr-md-0 {
  padding-right: 0px; }

.arc-pr-lg-0 {
  padding-right: 0px; }

.arc-pr-sm-1 {
  padding-right: 5px; }

.arc-pr-md-1 {
  padding-right: 5px; }

.arc-pr-lg-1 {
  padding-right: 5px; }

.arc-pr-sm-2 {
  padding-right: 10px; }

.arc-pr-md-2 {
  padding-right: 10px; }

.arc-pr-lg-2 {
  padding-right: 10px; }

.arc-pr-sm-3 {
  padding-right: 15px; }

.arc-pr-md-3 {
  padding-right: 15px; }

.arc-pr-lg-3 {
  padding-right: 15px; }

.arc-pr-sm-4 {
  padding-right: 20px; }

.arc-pr-md-4 {
  padding-right: 20px; }

.arc-pr-lg-4 {
  padding-right: 20px; }

.arc-pr-sm-5 {
  padding-right: 25px; }

.arc-pr-md-5 {
  padding-right: 25px; }

.arc-pr-lg-5 {
  padding-right: 25px; }

.arc-pr-sm-6 {
  padding-right: 30px; }

.arc-pr-md-6 {
  padding-right: 30px; }

.arc-pr-lg-6 {
  padding-right: 30px; }

.arc-pr-sm-7 {
  padding-right: 35px; }

.arc-pr-md-7 {
  padding-right: 35px; }

.arc-pr-lg-7 {
  padding-right: 35px; }

.arc-pr-sm-8 {
  padding-right: 40px; }

.arc-pr-md-8 {
  padding-right: 40px; }

.arc-pr-lg-8 {
  padding-right: 40px; }

.arc-pr-sm-9 {
  padding-right: 45px; }

.arc-pr-md-9 {
  padding-right: 45px; }

.arc-pr-lg-9 {
  padding-right: 45px; }

.arc-pr-sm-10 {
  padding-right: 50px; }

.arc-pr-md-10 {
  padding-right: 50px; }

.arc-pr-lg-10 {
  padding-right: 50px; }

.arc-pr-sm-11 {
  padding-right: 55px; }

.arc-pr-md-11 {
  padding-right: 55px; }

.arc-pr-lg-11 {
  padding-right: 55px; }

.arc-pr-sm-12 {
  padding-right: 60px; }

.arc-pr-md-12 {
  padding-right: 60px; }

.arc-pr-lg-12 {
  padding-right: 60px; }

.arc-pr-sm-13 {
  padding-right: 65px; }

.arc-pr-md-13 {
  padding-right: 65px; }

.arc-pr-lg-13 {
  padding-right: 65px; }

.arc-pr-sm-14 {
  padding-right: 70px; }

.arc-pr-md-14 {
  padding-right: 70px; }

.arc-pr-lg-14 {
  padding-right: 70px; }

.arc-pr-sm-15 {
  padding-right: 75px; }

.arc-pr-md-15 {
  padding-right: 75px; }

.arc-pr-lg-15 {
  padding-right: 75px; }

.arc-pr-sm-16 {
  padding-right: 80px; }

.arc-pr-md-16 {
  padding-right: 80px; }

.arc-pr-lg-16 {
  padding-right: 80px; }

.arc-pr-sm-17 {
  padding-right: 85px; }

.arc-pr-md-17 {
  padding-right: 85px; }

.arc-pr-lg-17 {
  padding-right: 85px; }

.arc-pl-sm-0 {
  padding-left: 0px; }

.arc-pl-md-0 {
  padding-left: 0px; }

.arc-pl-lg-0 {
  padding-left: 0px; }

.arc-pl-sm-1 {
  padding-left: 5px; }

.arc-pl-md-1 {
  padding-left: 5px; }

.arc-pl-lg-1 {
  padding-left: 5px; }

.arc-pl-sm-2 {
  padding-left: 10px; }

.arc-pl-md-2 {
  padding-left: 10px; }

.arc-pl-lg-2 {
  padding-left: 10px; }

.arc-pl-sm-3 {
  padding-left: 15px; }

.arc-pl-md-3 {
  padding-left: 15px; }

.arc-pl-lg-3 {
  padding-left: 15px; }

.arc-pl-sm-4 {
  padding-left: 20px; }

.arc-pl-md-4 {
  padding-left: 20px; }

.arc-pl-lg-4 {
  padding-left: 20px; }

.arc-pl-sm-5 {
  padding-left: 25px; }

.arc-pl-md-5 {
  padding-left: 25px; }

.arc-pl-lg-5 {
  padding-left: 25px; }

.arc-pl-sm-6 {
  padding-left: 30px; }

.arc-pl-md-6 {
  padding-left: 30px; }

.arc-pl-lg-6 {
  padding-left: 30px; }

.arc-pl-sm-7 {
  padding-left: 35px; }

.arc-pl-md-7 {
  padding-left: 35px; }

.arc-pl-lg-7 {
  padding-left: 35px; }

.arc-pl-sm-8 {
  padding-left: 40px; }

.arc-pl-md-8 {
  padding-left: 40px; }

.arc-pl-lg-8 {
  padding-left: 40px; }

.arc-pl-sm-9 {
  padding-left: 45px; }

.arc-pl-md-9 {
  padding-left: 45px; }

.arc-pl-lg-9 {
  padding-left: 45px; }

.arc-pl-sm-10 {
  padding-left: 50px; }

.arc-pl-md-10 {
  padding-left: 50px; }

.arc-pl-lg-10 {
  padding-left: 50px; }

.arc-pl-sm-11 {
  padding-left: 55px; }

.arc-pl-md-11 {
  padding-left: 55px; }

.arc-pl-lg-11 {
  padding-left: 55px; }

.arc-pl-sm-12 {
  padding-left: 60px; }

.arc-pl-md-12 {
  padding-left: 60px; }

.arc-pl-lg-12 {
  padding-left: 60px; }

.arc-pl-sm-13 {
  padding-left: 65px; }

.arc-pl-md-13 {
  padding-left: 65px; }

.arc-pl-lg-13 {
  padding-left: 65px; }

.arc-pl-sm-14 {
  padding-left: 70px; }

.arc-pl-md-14 {
  padding-left: 70px; }

.arc-pl-lg-14 {
  padding-left: 70px; }

.arc-pl-sm-15 {
  padding-left: 75px; }

.arc-pl-md-15 {
  padding-left: 75px; }

.arc-pl-lg-15 {
  padding-left: 75px; }

.arc-pl-sm-16 {
  padding-left: 80px; }

.arc-pl-md-16 {
  padding-left: 80px; }

.arc-pl-lg-16 {
  padding-left: 80px; }

.arc-pl-sm-17 {
  padding-left: 85px; }

.arc-pl-md-17 {
  padding-left: 85px; }

.arc-pl-lg-17 {
  padding-left: 85px; }

/* Border Classes */
.arc-border-1 {
  border: 1px solid #000; }

.arc-border-2 {
  border: 2px solid #000; }

.arc-border-3 {
  border: 3px solid #000; }

.arc-border-top-1 {
  border-top: 1px solid #000; }

.arc-border-top-2 {
  border-top: 2px solid #000; }

.arc-border-top-3 {
  border-top: 3px solid #000; }

.arc-border-bottom-1 {
  border-bottom: 1px solid #000; }

.arc-border-bottom-2 {
  border-bottom: 2px solid #000; }

.arc-border-bottom-3 {
  border-bottom: 3px solid #000; }

.arc-border-right-1 {
  border-right: 1px solid #000; }

.arc-border-right-2 {
  border-right: 2px solid #000; }

.arc-border-right-3 {
  border-right: 3px solid #000; }

.arc-border-left-1 {
  border-left: 1px solid #000; }

.arc-border-left-2 {
  border-left: 2px solid #000; }

.arc-border-left-3 {
  border-left: 3px solid #000; }

.arc-border-sm-1 {
  border: 1px solid #000; }

.arc-border-md-1 {
  border: 1px solid #000; }

.arc-border-lg-1 {
  border: 1px solid #000; }

.arc-border-sm-2 {
  border: 2px solid #000; }

.arc-border-md-2 {
  border: 2px solid #000; }

.arc-border-lg-2 {
  border: 2px solid #000; }

.arc-border-sm-3 {
  border: 3px solid #000; }

.arc-border-md-3 {
  border: 3px solid #000; }

.arc-border-lg-3 {
  border: 3px solid #000; }

.arc-border-top-sm-1 {
  border-top: 1px solid #000; }

.arc-border-top-md-1 {
  border-top: 1px solid #000; }

.arc-border-top-lg-1 {
  border-top: 1px solid #000; }

.arc-border-top-sm-2 {
  border-top: 2px solid #000; }

.arc-border-top-md-2 {
  border-top: 2px solid #000; }

.arc-border-top-lg-2 {
  border-top: 2px solid #000; }

.arc-border-top-sm-3 {
  border-top: 3px solid #000; }

.arc-border-top-md-3 {
  border-top: 3px solid #000; }

.arc-border-top-lg-3 {
  border-top: 3px solid #000; }

.arc-border-bottom-sm-1 {
  border-bottom: 1px solid #000; }

.arc-border-bottom-md-1 {
  border-bottom: 1px solid #000; }

.arc-border-bottom-lg-1 {
  border-bottom: 1px solid #000; }

.arc-border-bottom-sm-2 {
  border-bottom: 2px solid #000; }

.arc-border-bottom-md-2 {
  border-bottom: 2px solid #000; }

.arc-border-bottom-lg-2 {
  border-bottom: 2px solid #000; }

.arc-border-bottom-sm-3 {
  border-bottom: 3px solid #000; }

.arc-border-bottom-md-3 {
  border-bottom: 3px solid #000; }

.arc-border-bottom-lg-3 {
  border-bottom: 3px solid #000; }

.arc-border-right-sm-1 {
  border-right: 1px solid #000; }

.arc-border-right-md-1 {
  border-right: 1px solid #000; }

.arc-border-right-lg-1 {
  border-right: 1px solid #000; }

.arc-border-right-sm-2 {
  border-right: 2px solid #000; }

.arc-border-right-md-2 {
  border-right: 2px solid #000; }

.arc-border-right-lg-2 {
  border-right: 2px solid #000; }

.arc-border-right-sm-3 {
  border-right: 3px solid #000; }

.arc-border-right-md-3 {
  border-right: 3px solid #000; }

.arc-border-right-lg-3 {
  border-right: 3px solid #000; }

.arc-border-left-sm-1 {
  border-left: 1px solid #000; }

.arc-border-left-md-1 {
  border-left: 1px solid #000; }

.arc-border-left-lg-1 {
  border-left: 1px solid #000; }

.arc-border-left-sm-2 {
  border-left: 2px solid #000; }

.arc-border-left-md-2 {
  border-left: 2px solid #000; }

.arc-border-left-lg-2 {
  border-left: 2px solid #000; }

.arc-border-left-sm-3 {
  border-left: 3px solid #000; }

.arc-border-left-md-3 {
  border-left: 3px solid #000; }

.arc-border-left-lg-3 {
  border-left: 3px solid #000; }

/*# sourceMappingURL=style.css.map */
