.#{$prefix}-btn-primary {
  color: $color-black;
  background-color: #f1f1f1;
  border: none;
  padding: 8px 12px;
  cursor: pointer;

  &:hover {
    background-color: $color-background;
    @include transition;
  }

  &.#{$prefix}-btn-fluid {
    width: 100%;
  }

  &.#{$prefix}-btn-bg-black {
    background-color: $color-black;
    color: $color-white;

    &:hover {
      color: $color-black;
      background-color: $color-background;
      @include transition;
    }
  }
}
